#!/bin/sh

# This file runs when a DM logs you into a graphical session.

# Map capslock to esc and to CTRL on long presses
setxkbmap -option caps:ctrl_modifier
xcape -e 'Caps_Lock=Escape'

# Speed up rate for long key presses
xset r rate 300 50 &

# Restore last wal theme
wal -R

# Set displays


# Start programs
lxpolkit &
sxhkd &
#dunst &
#insync start &
#set-background &
#entr_wallswitch &
#entr_greeterswitch &
#picom -b -c -C --config ~/.config/compton/compton.conf &

# Set wallpaper
set-wallpaper
